<ion-view>
  <ion-pane>
    <p class="noMoreBooks">No more books left :(</p>
      <td-cards>
        <td-card id="td-card" ontouchstart="this.classList.toggle('hover');" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
        on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" ng-click="showText()">
          <div class="image front animate-show" ng-hide="clicked">
            <div class="no-text overlayBox"><div class="noBox boxed">Trash</div></div>
            <img ng-src="{{card.image}}">
            <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Save</div></div>
          </div>
          <div class="image back animate-show" ng-show="clicked">
          <div class ="no-text overlayBox"><div class="noBox boxed">Trash</div></div>
          <div class="box-sampletext">
            <pre>{{card.sample}}</pre>
          </div>
          <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Save</div></div>
          </div>
        </td-card>
        <div class="item item-thumbnail-left" ng-if="clicked">
          <img ng-src="{{currentCard.image}}">
          <div class="info">
            <h2>{{currentCard.title}}</h2>
            <p>{{currentCard.author}}</p>
          </div>
        </div>
        <div class="row buttons-row" ng-if="!clicked">
          <div class="col">
            <a class="reject-btn icon ion-close-circled" ng-click="dislike(currentCard)"></a>
          </div>
          <div class="col">
            <a class="accept-btn icon ion-checkmark-circled" ng-click="like(currentCard)"></a>
          </div>
        </div>
      </td-cards>

    </ion-pane>
</ion-view>
